.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Crimson Text", "Georgia", serif;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #3C455C;
  color: white;
}

.hero.is-secondary {
  background-color: #B37C57;
  color: white;
}

.hero.is-tertiary {
  background-color: #9AACB8;
  color: white;
}

.text-white {
  color: whitesmoke;
  text-align: center;
}

.text-tertiary {
  color: #9AACB8;
  text-align: center;
}

.myButton {
	background-color:#9AACB8;
	border-radius:28px;
	border:1px solid #3C455C;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #B37C57;
}
.myButton:hover {
	background-color:#3C455C;
}
.myButton:active {
	position:relative;
	top:1px;
}
