<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">

                <div class="hero is-secondary box">
                    <p class="title is-2 is-centered text-white">
                        {{site.data.statements.personalMissionName}}
                    </p>
                    <p class="title is-4 is-centered text-white">
                        {{site.data.statements.personalMission}}
                    </p>
                    <div class="is-centered"> 
                        <button class="myButton">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>